body {	
	min-height: 100%;
	background-color: #f3efe8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Lato, Cambria, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 120;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top:70px;
}
#loading { position: absolute; top: 500; left: 500; color: white; background-color: red; padding: 5px 10px; font: 12px Arial; }

h2{margin:0;padding-left:5px;padding-top:5px;padding-bottom:10px}
.description.small{padding-left:5px}
body.hold-transition .content-wrapper,
body.hold-transition .right-side,
body.hold-transition .main-footer,
body.hold-transition .main-sidebar,
body.hold-transition .left-side,
body.hold-transition .main-header > .navbar,
body.hold-transition .main-header .logo {
  /* Fix for IE */
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.navbar-default,a{-webkit-transition:all .35s;-moz-transition:all .35s}
@media (min-width:768px){
	.navbar-default{background-color:rgba(255,255,255,1);border-color:rgba(255,255,255,.3)}
	.navbar-default .navbar-header .navbar-brand{color:#222;font-size:20px; }
	.navbar-default .navbar-header .navbar-brand:focus,.navbar-default .navbar-header .navbar-brand:hover{color:#222}
	.navbar-default .nav>li>a,.navbar-default .nav>li>a:focus{color:color:#F05F40);}
	.navbar-default .nav>li>a:focus:hover,.navbar-default .nav>li>a:hover{color:#F05F40}
	.navbar.affix{min-height:10px;}
	
	
	
	.navbar-default.affix{background-color:rgba(255,255,255,.7);border-color:rgba(34,34,34,.05); }
	.navbar-default.affix .navbar-header .navbar-brand{color:#F05F40;font-size:14px; padding: 10px 25px;line-height: 10px; height: 30px;}
	.navbar-default.affix .navbar-header .navbar-brand:focus,.navbar-default.affix .navbar-header .navbar-brand:hover{color:#222}
	.navbar-default.affix .nav>li>a,.navbar-default.affix .nav>li>a:focus{color:#222;padding: 10px 25px; line-height: 10px; height: 30px;}
	.navbar-default.affix .nav>li>a:focus:hover,.navbar-default.affix .nav>li>a:hover{color:#F05F40}}


@media (min-width:268px){
	.navbar-default{background-color:rgba(255,255,255,1);border-color:rgba(255,255,255,.3)}
	.navbar-default .navbar-header .navbar-brand{color:#222; font-size:20px;}
	.navbar-default .navbar-header .navbar-brand:focus,.navbar-default .navbar-header .navbar-brand:hover{color:#F05F40}
	.navbar-default .nav>li>a,.navbar-default .nav>li>a:focus{color:rgba(43,34,34,.7)}
	.navbar-default .nav>li>a:focus:hover,.navbar-default .nav>li>a:hover{color:#F05F40; background-color: rgba(250,250,250,.5);}
	.navbar-default .navbar-toggle {  color:#222;margin-bottom: 0px;  background-color: transparent;  background-image: none;  border: 1px solid;  border-radius: 2px; }
	 .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #F05F40; color:#fff; border-radius: 2px; border-color:#E04E30}
	  
	.navbar.affix{min-height:10px;}
	.navbar-default.affix{background-color:rgba(255,255,255,.7);border-color:rgba(34,34,34,.1); }
	.navbar-default.affix .navbar-header .navbar-brand{color:#F05F40;font-size:14px; padding: 10px 25px;line-height: 10px; height: 30px;}
	.navbar-default.affix .navbar-header .navbar-brand:focus,.navbar-default.affix .navbar-header .navbar-brand:hover{color:#222}
	.navbar-default.affix .nav>li>a,.navbar-default.affix .nav>li>a:focus{color:#222;padding: 10px 25px; line-height: 10px; height: 30px;}
	.navbar-default.affix .nav>li>a:focus:hover,.navbar-default.affix .nav>li>a:hover{color:#F05F40}
	.navbar-default.affix .navbar-toggle { color:#F05F40;  margin-right: 15px;  padding: 0px 4px;  margin-top: 3px;  margin-bottom: 0px;  background-color: transparent;  background-image: none;  border: 1px solid;  border-radius: 2px; }
	
}

	
.deskripsi{font-size:18px;font-weight: 120;}
.deskripsi img{width:auto;max-width:100%;height: auto;}

.box-body.img-responsive{border: 1px solid #f4f4f4;}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;  
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.box .lf-border {border-left: 3px solid #bc7505;}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 15px;
  margin: 5px;
  padding-left:15px;
  line-height: 1; 
}
.collapsed-box .box-header.with-border {
  border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}
.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 0px;
  padding-bottom:2px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.products-list > .item {
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background: #fff;
}
.products-list > .item:before,
.products-list > .item:after {
  content: " ";
  display: table;
}
.products-list > .item:after {
  clear: both;
}
.products-list .product-img {
  float: left;
}
.products-list .product-img img {
  width: 50px;
  height: 50px;
}
.products-list .product-info {
  margin-left: 60px;
}
.products-list .product-title {
  font-weight: 600;
}
.products-list .product-description {
  display: block;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-list-in-box > .item {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #f4f4f4;
}
.product-list-in-box > .item:last-of-type {
  border-bottom-width: 0;
}
.btn-social-icon {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 34px;
  width: 34px;
  padding: 0;
}
.btn-social-icon > :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook.focus,
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
  color: #ffffff;
  background-color: #2d4373;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google {
  color: #ffffff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google:hover,
.btn-google:focus,
.btn-google.focus,
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
  color: #ffffff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
  background-image: none;
}
.btn-google .badge {
  color: #dd4b39;
  background-color: #ffffff;
}
.btn-twitter {
  color: #ffffff;
  background-color: #55acee;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter.focus,
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
  color: #ffffff;
  background-color: #2795e9;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
  background-image: none;
}
.btn-twitter .badge {
  color: #55acee;
  background-color: #ffffff;
}

.widget-user .widget-user-header{padding:20px;height:120px;border-top-right-radius:3px;border-top-left-radius:3px}.widget-user .widget-user-username{margin-top:0;margin-bottom:5px;font-size:25px;font-weight:300;text-shadow:0 1px 1px rgba(0,0,0,0.2); color:white}.widget-user .widget-user-desc{margin-top:0}.widget-user .widget-user-image{position:absolute;top:65px;left:50%;margin-left:-45px}.widget-user .widget-user-image>img{width:90px;height:auto;border:3px solid #fff}.widget-user .box-footer{padding-top:30px}.widget-user-2 .widget-user-header{padding:20px;border-top-right-radius:3px;border-top-left-radius:3px}.widget-user-2 .widget-user-username{margin-top:5px;margin-bottom:5px;font-size:25px;font-weight:300}.widget-user-2 .widget-user-desc{margin-top:0}.widget-user-2 .widget-user-username,.widget-user-2 .widget-user-desc{margin-left:75px}.widget-user-2 .widget-user-image>img{width:65px;height:auto;float:left}
.bg-aqua-active,.modal-info .modal-header,.modal-info .modal-footer{background-color:#00a7d0 !important}

code {
  padding: 2px 4px;
  font-size: 70%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px; }


/*CSS Reset*/
* {margin: 0; padding: 0;}

/* css untuk kembali ke atas halaman */
.ke-atas {position: fixed;bottom: 5px;right: 5px;text-decoration: none;color:#ff9c01;padding: 5px 5px;background: rgba(0, 0, 0, 0);font-size: 20px;display: none;}
.ke-atas:hover {
	background: rgba(0, 0, 0, 0);	
	color:#bc7505;
}

footer{font-family: 'Source Sans Pro', 'Helvetica Neue'; min-height:40px;background-color:#f3efe8;margin:20px;padding:10px; font-size:90%}


